*
{
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header
{
    display: flex;
    justify-content:space-between;
    padding: 20px 30px;
    text-align: center;
}
.header a{
    margin-right: 20px;
     /*---for remove underline from hyperlink----*/
    text-decoration: inherit; 
   color: (0 , 0 , 0 , 0.87);
   font: 15px;
}
.header a:hover{
    text-decoration: underline;
}

.header-right
{
    display: flex;
    min-width: 13vw;
    justify-content: space-between;
}



.header-right .header_apps
{
    margin-right: 10px;
}
/*------main body------*/
.mainbody
{
    padding-top: 5%;
    /* flex: 1; */
    display: flex;
    /* margin-top: 10px;  /*for top margin set */
    flex-direction: column;
    
    
}
.mainbody img{
    object-fit: contain;
    height: 200px;
}
.search-input ::placeholder
{
    color: rgb(56, 60, 60);
    font-size: 120%;
}

.search-input
{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px; /*--for curve border--*/
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
    
}
.search-input input/*---for search box input---*/
{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}
.search-input .material-icons
{
    color: gray;
    
}
.search-button
{   margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search-button button
{
    margin: 5px;
    padding: 10px 15px;
    cursor:pointer;/*---for change cursor pointer--*/
    outline: none;
    border: none;
    border-radius: 999px; /*----for border curve------*/
    
    
    
}
.search-button button:hover
{
    background-color: rgb(135, 134, 133);
    color: black;
}



